@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  max-height: 2em;
  overflow: hidden;
}

.truncate-custom {
  position: relative;
  line-height: 1.2em;
  max-height: 2.2em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  overflow: hidden;
}

.truncate-custom::before {
  position: absolute;
  right: 0;
  bottom: 0;
}
